* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'San Francisco', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #e0c3fc, #8ec5fc);
    overflow: hidden;
}

.fade-in {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeIn 1.5s forwards;
    animation-delay: 0.5s;
}

.container {
    text-align: center;
}

.column-container {
    display: flex;
    justify-content: space-between;
    gap: 30px; /* Увеличен пробел между колонками */
    width: 85%; /* Ширина увеличена для большего пространства */
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.9); /* Полупрозрачный фон для колонок */
    border-radius: 15px; /* Скругление углов */
    padding: 20px; /* Внутренние отступы для колонки */
}

.column h2 {
    color: #6d4c41; /* Более теплый цвет для заголовков колонок */
    font-size: 2rem; /* Увеличен размер шрифта */
    margin-bottom: 15px;
}

h1 {
    color: #4a148c; /* Более темный и глубокий цвет заголовка */
    font-size: 3.5rem; /* Увеличен размер шрифта */
    margin-bottom: 40px;
    font-weight: 600; /* Увеличена жирность заголовка */
}

.button {
    display: inline-block;
    padding: 15px 35px; /* Увеличены отступы кнопки */
    background-color: #8e24aa; /* Более яркий цвет кнопки */
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 15px;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    border: 2px solid transparent;
    cursor: pointer;
}

.button:hover {
    transform: translateY(-5px); /* Умеренная анимация при наведении */
}

.button:active {
    transform: translateY(2px);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Более плотный затемненный фон */
}

.modal-content {
    background-color: #ffffff; /* Чисто белый фон для содержимого модала */
    border-radius: 10px; /* Скругление углов модала */
    margin: 10% auto;
    padding: 20px; /* Внутренние отступы для модального окна */
    max-width: 600px; /* Максимальная ширина модала */
    text-align: left; /* Выравнивание текста в модале по левому краю */
}

/* Анимация появления модального окна */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}